extend layout

block title
  p.small Public feed

block content
  ol.feed
    - for m in messages
      li
        .avatars
          div
            img(src='#{m.value.message.senderAvatar}')
            span.label= m.value.message.sender

          - if (m.value.message.sender !== m.value.message.receiver)
            div.recipient
              img(src='#{m.value.message.receiverAvatar}')
              span.label= m.value.message.receiver
        p= m.value.message.text

block scripts
  script(type='text/javascript', src='/js/feed.js')