extend layout

block title
  p.small #{key} feed

block content
  ol.feed(data-key='#{key}')
    - for m in messages
      - var msgType = m.value.message.public ? 'public' : 'private'
      li(class='#{msgType}')
        .avatars
          div
            img(src='#{m.value.message.senderAvatar}')
            span.label= m.value.message.sender

          - if (m.value.message.sender !== m.value.message.receiver)
            div.recipient
              img(src='#{m.value.message.receiverAvatar}')
              span.label= m.value.message.receiver
        p= m.value.message.text
        time= m.value.created

block scripts
  script(type='text/javascript', src='/js/dual.js')